// $skin: #F0BEAF;
$skin: #fcd9a6;
$grey: #424B54;
$brown: #2e221c;
$pink: rgb(246, 130, 130);
$blue: rgb(17, 18, 51);
@mixin border($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
}

.container,
.face,
.hair,
.nose,
.ear,
.neck,
.body,
.cape,
.logo,
.group,
.bangs,
.eye,
.profile-card,
.yes,
.no,
.info,
.tongue,
.profile-wrap,
.name,
.mouth,
.eyebrow, .blush {
  position: absolute;
}

body {
  background: #e2d9ea;
}

.hero {
  position: relative;
  height: 300px;
  text-align: center;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  @include border(100%);
  border: 2px solid #FFF;
  overflow: hidden;
  background: #cbe6f7;
}

.group {
  left: -7px;
}

.face {
  @include border(100px);
  z-index: 20;
  top: 50px;
  left: 70px;
  width: 80px;
  height: 100px;
  background: $skin;

}
.face.front {
  position: absolute;
  top: 51px;
  left: 115px;
  content: '';
  width: 30px;
  height: 63px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  /* background: #DB9B99; */
  z-index: 100;
  transform: rotate(-26deg);
}

.hair {
  z-index: 3;
  top: 30px;
  left: 52px;
  width: 117px;
  height: 200px;
  border-radius: 100px 100px 0 0;
  background: $brown;
  // position: relative;
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
}
.shoulder-hair {
  background: #2e221c;
  // background: yellow;
  height: 80px;
  width: 45px;
  top: 122px;
  left: 52px;
  border-radius: 35%;
  position: absolute;
  z-index: 11;
}

.ear {
  z-index: 4;
  top: 98px;
  left: 61px;
  width: 25px;
  height: 24px;
  @include border(100%);
  background: $skin;
  display: none;
  &:before {
    position: absolute;
    top: 3px;
    left: 4px;
    content: '';
    width: 18px;
    height: 18px;
    @include border(100%);
    background: #DB9B99;
  }
}

.ear.left {
  left: 130px;
  display: block;
}

.bangs {
  // z-index: 99;
  // top: 40px;
  // left: 135px;
  // width: 18px;
  // height: 50px;
  // background: $brown;
  // /* background: yellow; */
  // border-radius: 100%;
  // transform: rotate(-30deg);
  z-index: 99;
  top: 34px;
  left: 65px;
  width: 30px;
  height: 70px;
  background: #2e221c;
  /* background: yellow; */
  border-radius: 43%;
  transform: rotate(28deg);
  &:before {
    // position: absolute;
    // content: '';
    // top: -39px;
    // left: -47px;
    // width: 25px;
    // height: 81px;
    // background: $brown;
    // border-radius: 100%;
    // -webkit-border-radius: 100%;
    // -moz-border-radius: 100%;
    // transform: rotate(90deg);
    position: absolute;
    content: '';
    top: -14px;
    left: 18px;
    width: 16px;
    height: 63px;
    background: #2e221c;
    /* background-color: yellow; */
    /* border-radius: 100%; */
    -webkit-border-radius: 98%;
    -moz-border-radius: 100%;
    transform: rotate(45deg);
  }
}

.bangs.front {
  // left: 92px;
  // background: yellow;
  // transform: rotate(49deg);
  // opacity: 0.6;
  left: 87px;
  height: 76px;
  width: 26px;
  top: 42px;
  border-radius: 100%;
  background: #fcd9a6;
  transform: rotate(49deg);
  /* opacity: 0.6; */
  z-index: 99;
  /* display: none; */

  &:before {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 16%;
    border-bottom-left-radius: 100%;
    top: -25px;
    left: 27px;
    transform: rotate(105deg);
    height: 57px;
    /* background-color: yellow; */
  }
}

.eyebrow {
  z-index: 300;
  top: 92px;
  left: 77px;
  width: 17px;
  height: 2px;
  background: #646B73;
  @include border(3px);
  &:before {
    position: absolute;
    content: '';
    left: 49px;
    width: 17px;
    height: 2px;
    background: #646B73;
    @include border(3px);
  }
}

.eye {
  z-index: 100;
  top: 100px;
  left: 80px;
  width: 10px;
  height: 10px;
  background: $grey;
  @include border(100%);
  &:before {
    position: absolute;
    content: '';
    left: 50px;
    width: 10px;
    height: 10px;
    background: #424B54;
    @include border(100%);
  }
}


.blush {
  z-index: 999;
  top: 116px;
  left: 77px;
  width: 10px;
  height: 7px;
  background: #E3879E;
  @include border(100%);
  opacity: 0.4;
  &:before{
    position: absolute;
    content: '';
    left: 58px;
    width: 10px;
  height: 7px;
  background: #E3879E;
  @include border(100%);
    
  }
}

.nose {
  z-index: 20;
  top: 100px;
  left: 107px;
  width: 8px;
  height: 14px;
  background: #DB9B99;
  @include border(100px);
}

.mouth {
  z-index: 20;
  top: 125px;
  left: 96px;
  width: 30px;
  height: 15px;
  border-radius: 0 0 100px 100px;
  background: #424B54;
  overflow: hidden;
}

.tongue {
  top: 5px;
  left: 8px;
  width: 30px;
  height: 20px;
  background: $pink;
  @include border(100%);
}

.neck {
  z-index: 13;
  width: 30px;
  height: 40px;
  background: $skin;
  top: 130px;
  left: 97px;
  @include border(100%);
}

.body {
  z-index: 10;
  top: 153px;
  left: 50px;
  width: 122px;
  height: 150px;
  background: $pink;
  // @include border(100px);
  border-radius: 30px;
  -webkit-border-radius: 30px;
}

.cape {
  z-index: 4;
  top: 148px;
  left: 43px;
  width: 130px;
  height: 160px;
  background: #E15554;
  border-radius: 60px 60px 0 0;
}

// .logo {
//   top: 10px;
//   left: 16px;
//   width: 27px;
//   height: 15px;
//   border-bottom: 20px solid #ECD688;
//   border-left: 23px solid transparent;
//   border-right: 22px solid transparent;
//   &:before {
//     position: absolute;
//     content: '';
//     top: 35px;
//     left: -22px;
//     border-top: 40px solid #ECD688;
//     border-left: 35px solid transparent;
//     border-right: 35px solid transparent;
//   }
// }

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 300;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #e2d9ea;
  // background: black;
  padding: 5px;
  
  h1 {
    margin: 0 0 .5em 0;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
  
  #centerbox {
    width: 500px;
    margin: 0 auto;
  }
}



article.highlight {
  margin-bottom: 10px;
  width: 400px;
  padding: 5px;
  font-size: 0.9em;
  
  color: #cecece;
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
  /* 
    all elements in this element will change 
    color through a 0.1 second lasting linear
    transition.
  */
  * {
    transition: color 0.1s linear;
  }
  
  // make sure span keeps this color
  span {
    color: #cecece !important;
  }
  
  p {
    margin: 0;
  }
  
  /*
    change the text-color on hover, the color 
    in span will not change due to !important.
  
    additionally, the .hover class on the 
    article.highlight element will achieve
    the same result.
  */
  &:hover, &.hover {
    color: #333333;
  }
}
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:right;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

.wrapper {
  overflow:auto;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}